<div class="dashboard-container">

    <div class="welcome-card">
        <div class="welcome-content">
            <div class="left-section">
                <h1>Welcome to Task Manager</h1>
                <p>
                    Organize tasks, track progress, manage employees, and
                    collaborate efficiently from a single dashboard.
                </p>

                <!-- <div class="action-buttons">
                    <button class="primary-btn">
                        Create Task
                    </button>

                    <button class="secondary-btn">
                        View Tasks
                    </button>
                </div> -->
            </div>
        </div>
    </div>

</div>