<div class="login-form">
  <p-toast position="bottom-center"></p-toast>

  <div class="layer">
    <div class="card">
      <p class="pf-name text-center">User Login</p><br>
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="userLogin()">

        <div class="form-group">
          <label>Role*</label>
          <p-dropdown formControlName="role" [options]="roleList" optionLabel="label" optionValue="value"
            placeholder="Select Role">
          </p-dropdown>

          <span *ngIf="loginForm.get('role')?.invalid && (loginForm.get('role')?.touched || showErr)" class="error">
            Required field!
          </span>
        </div>

        <div class="form-group "
          [ngClass]="{'has-error': loginForm && !loginForm.get('email')?.valid && loginForm?.get('email')?.touched}">
          <label for="email">Email*</label>
          <input [pKeyFilter]="regexList.blockSpace" type="email" class="form-control" id="email"
            formControlName="email" placeholder="Enter email id" />
          <span *ngIf="loginForm && !loginForm.get('email')?.valid && loginForm?.get('email')?.touched"
            class="error">Required field!</span>
        </div>
        <div class="form-group"
          [ngClass]="{'has-error': loginForm && !loginForm.get('password')?.valid && loginForm?.get('password')?.touched}">
          <label for="password">Password*</label>
          <p-password [pKeyFilter]="regexList.blockSpace" formControlName="password"
            [ngClass]="{'password-error': loginForm.get('password')?.invalid && (loginForm?.get('password')?.touched || showErr)}"
            [toggleMask]="true" [feedback]="false">
            <ng-template pTemplate="footer">
              <hr />
            </ng-template>
          </p-password>
          <span *ngIf="!loginForm.get('password')?.valid && (loginForm?.get('password')?.touched || showErr)"
            class="error">Required field!</span>
        </div>
        <div class="form-group">
        </div>
        <div class="text-center d-flex justify-content-center">
          <p-button label="Submit" type="submit" class="submit" icon="pi pi-check" iconPos="right" [loading]="loader">
          </p-button>
        </div>
                <a class="link-to-home" routerLink="/users/sign-up">Sign Up</a>

      </form>
    </div>
  </div>
</div>