<i pTooltip="Delete Task" tooltipPosition="top" class="delete-btn pi pi-trash"
    style="color: red; font-size: 1.5rem; margin-left: 10px;" (click)="openConfirmModal(taskId)">
</i>

<!-- group 2 starts-->
<div class="delete-task-modal-wrapper">
    <p-dialog header="Confirmation" [(visible)]="showConfirmationModal" [modal]="true" [style]="{ width: '50vw' }"
        [baseZIndex]="9999" [draggable]="false" [resizable]="false">
        <div>
            Want to delete the task?
        </div>
        <p-footer>
            <div class="modal-footer-btns">
                <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-secondary"
                    (click)="showConfirmationModal = false">
                </button>
                <button pButton type="button" label="Delete" icon="pi pi-check" class="p-button-success"
                    [loading]="loader" (click)="deleteTask()">
                </button>
            </div>
        </p-footer>
    </p-dialog>
</div>
<!-- ends -->