$theme-color: #3a3170;
$dark-gray-color: #363636;
$light-gray-color: #f1f1f1;
$body-font-color: #414141;
$body-font-gray: #727272;
$body-heading-color: #000000;
$border-color: #dfdfdf;
$body-font-gray-2: #6e6e6e;
$error-color: #ff0000;
$white-color: #fff;
$card-header-bg: #f0f3f5;
$card-body-bg: #dedede;
$box-shadow: #c8c8c8;
$box-shadow-hover: #8f8f8f;
$light-gray-border: #e4e4e4;

// button bg colors
$submit-btn-bg: #689F38;