@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "assets/sass/fonts.scss";

$main-container-bg: #f5f5f5;
$header-bg-color: #3a3170;
$white: #ffffff;
$font-family: "Rubik", sans-serif;
$font-family: $Montserrat-Regular, sans-serif;
$font-family-menus: $Montserrat-Regular, sans-serif;
$border: 1px solid rgb(245, 245, 220);
$bg-color: #fff;
$font-color: #757272;
$notif-color: #ff5050;
$after-border: 0.3em solid transparent;
$gray: #504f4f;
$notif-border-color: transparent transparent #f2f4f5 transparent;
$popups-bg-color: #f2f4f5;
$sidebar-bgcolor: #222d32;
// $border-left-active:lighter($sidebar-bgcolor, 5%);
$logincolor:#893fc5e8;
$errorcolor:#FF0000;
